@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.cdnfonts.com/css/lambency');


.b-hr {
    background-color: #44A1C3;
    width: 30%;
    height: 3px;

  }

.b-h1-content{
    font-size: 62px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important; 
}

.b-h3{
    font-family: 'Puritan', sans-serif;
    margin: 5%;
}

.b-click{
    padding-left: 0%;
}

.b-center,.b-SNews{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    background: rgba(0, 0, 0, 0.1);
    color: #ffff;
}

.b-SNews{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    background: rgba(0, 0, 0, 0.1);
    color: #ffff;
}

.b-click-center{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Mono', monospace;
    background: rgba(0, 0, 0, 0.2);
    color: #ffff;
}

.b-category-center{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: start;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
    color: #ffff;
}

.b-lastgN-center{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: start;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    color: #ffff;
}

.b-header {
    position: relative;
    top: -25px;
    width: 55%;
    margin-bottom: -45px;
}

.b-title {
    font-family: 'Adelle Sans',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-right: 15px;
}

.b-header:after {
    content: '';
    width: 80%;
    height: 5px;
    background: #43A1C4;
    position: absolute;
    top: 10px;
    z-index: -2;
}

.b-header-l{
    position: relative;
    z-index: 1;
    width: 59%;
}

.b-title-latest {
    font-family: 'Adelle Sans',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    position: relative;
    padding-right: 15px;
    padding-left: 40px;
}

.b-header-l:after {
    content: '';
    width: 50%;
    height: 5px;
    background: #43A1C4;
    position: absolute;
    top: 13px;
    z-index: -2;
}

.b-header-c{
    position: relative;
    z-index: 1;
    width: 60%;
}

.b-cartucho{
    font-family: 'Adelle Sans',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.b-header-c:after {
    content: '';
    width: 61%;
    height: 5px;
    background: #43A1C4;
    position: absolute;
    top: 15px;
    z-index: -2;
}

.b-h3-title{
    font-family: 'Adelle Sans',sans-serif;
    font-weight: bold;
}

.b-h6-title-gn{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.b-body{
    display: flow-root;
    padding-bottom: 0px !important;
}

.b-h5-link{
    color: #43A1C4;
    font-family: 'Adelle Sans',sans-serif;
    text-transform: uppercase;
    background: rgba(68, 143, 179, 0.1);
}

.b-welcome{
    font-family: 'Roboto Mono', monospace;
}

.b-about{
    font-family: 'Tourney', cursive;
    text-align: justify;
    font-size: 15px;
}

.b-news-img{
    width: 100%;
    height: 250px;
}

.b-bottom-cat{
    margin-bottom: -10px !important;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

.b-card-color {
    background: #E3F1F1;
    height: 400px;
}

.b-circle-img{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%)
}
.b-sub{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.b-hr-s::after{
    content: "";
    display: inline-block;
    width: 50px;
    max-width: 100%;
    border-top: 2px solid #44A1C3;
    vertical-align: top;
}

.b-h5-title{
    font-family: 'Roboto Mono', monospace;
}
.b-h5-title:hover{
    text-decoration: underline !important;
}

.b a:hover{
    color: #222;
}

.b-card-category, .b-image{
    height: 215px !important;
}

.b-thumbnav{
    object-fit: cover;
    height: 100px !important;
}

.b-share-links{
    position: absolute;
    bottom: 10px;
    left: 1%;
    width: auto;
}

.b-share-links-post-show{
    position: relative;
    top: 10px;
    left: 75%;
    width: fit-content;
}

.b-icon-button{
    width: 40px;
    height: 40px;
    background: #ebebeb !important;
    margin: 5px;
}

.b-sm-share-links{
    position: absolute;
    top: 20px;
    left: 87%;
    width: auto;
}

.b-sm-icon-button{
    width: 30px;
    height: 30px;
    background: #ebebeb !important;
    margin: 5px;
}

.b-card-img{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-card-img2{
    width: 100%;
    height: 335px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-border-duo{
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border: solid 1.4px #85929E;
}

.b-comment-primary{
    padding: 20px;
    background: #E3F1F1;
}


.b-card-header{
    background: url(https://bisturinoticias.com/storage/Rodrigo%20Miranda%20Torres/eJUcs28gmz4QOzxhuVX81fzbYLx5FuWL6oF7K0mUatard4.jpg);
    padding: 5px 5px;
}

.b-span-text{
    float: right;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff!important;
    font-family: 'Puritan', sans-serif;
}

.b-span-generals {
    position: absolute;
    top: 15px;
    left: 10;
    background: #459FC4;
    padding: 5px 5px 5px 5px;
    z-index: 3;
   
}

.b-sumario{
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
}

.b-card-title{
    font-family: 'Roboto Mono', monospace;
    text-align: start;
}

.b-sumario,.b-content-duo,.b-creditos{
    margin-top: -10px;
}
.b-creditos{
    text-align: justify;
    font-family: 'Puritan', sans-serif;
    font-weight: bold;
}

.b-content-duo{
    text-align: justify;
    font-family: 'Puritan', sans-serif;
}

.b-img-general{
    width: 100%;
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-click-footer{
    text-align: justify;
    font-family: 'Puritan', sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    padding: 12px;
}

.b-card-category{
    padding: 10px 10px;
    margin-bottom: 20px;
}

.b-noti-foto{
    position: relative;
    bottom: 40px;
}

.b-h5-title-mn{
    font-family: 'Sanchez', serif;
}
.b-author-ft{
    margin-top: -20px;
    font-weight: bold;
}
.b-author-ntf{
    margin-top: -5px;
}

.b-margin-bt-category{
    margin-bottom: 30px;
}

.show-card-body{
    padding: 15px 15px;
}

.b-badge{
    background:#EBEBEB;
    color: #666666;
    border-radius: 5px;
    cursor: pointer;
}
.b-badge:hover {
    color: #222;
}
/* clicks */
.cards-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 0.2s;
  }

  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 20px;
  }

  .b-expand {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      z-index: 15;
  }

  .b-expand:hover{
      color: #E3F1F1;
  }
  
  .card .card_image .b-card-image {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center center;
  }
  
  .card .card_title {
    margin-top: 10px;
  }

  .b-click-title {
    color: #85929E;
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }

/* Pagination */
  .heading {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    color: #43A1C4;
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
  }
  .pagination-item {
    margin-right: 18px;
    border-radius: 10px;
    border: solid 1px #ececec;
    list-style: none;
  }
  .pagination-item a {
    padding: 11px 16px 11px 16px;
    display: inline-block;
    border-radius: 10px;
    transition: 0.2s all;
    text-decoration: none !important;
  }
  .pagination-item a:hover {
    background-color: #ececec;
  }
    
  .pg-active {
    background-color: #ececec;
  }

  .b-vineta-date{
      position: absolute;
      top: 10px;
      right: 10px;
  }
 

.tgp-main {
  font-family: 'Roboto Mono', monospace;
  display: grid;
  place-items: center;
}

.tgp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.tgp-container img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.tgp-card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__body {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-content {
    display: flex;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-family: 'Puritan', sans-serif;
  font-size: 1.5rem;
  text-transform: initial;
}

.card__footer {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  margin-top: auto;
}

  .ath-circle {
    background-color: #E3F1F1;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    text-align: center;

  }
  
  .ath-initials {
    font-family: 'Lambency', sans-serif;  
    margin-left: -20px;                      
    font-size: calc(6rem / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(8rem / 2); /* 25% of parent */
  }

  .b-ath {
    font-family: 'Lambency', sans-serif;  
  }
  .ath-title {
    font-family: 'Sanchez', serif;
    font-size: 2rem;
  }
  .ath-p {
    font-family: 'Roboto Mono', monospace;
  }
  .ath-img {
    width: 100px !important;
    height: auto!important;
    object-fit: contain;
  }

  .tooltip {
    position: absolute;
    right: 0%;
    top: 100%;
  }

  .btn-bisturi {
    background-color: transparent;
    color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
  }

 /* media Queries */   
@media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
@media (min-width: 1200px){
    .b-card-body {
        padding: 10px 10px;
    }
    .b-body-content {
        padding: 50px 40px 0 40px;
    }
    .b-center {
        top: 70%;
    }

    .note-video-clip{
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .b-header {
        position: absolute !important;
        top: 165px;
        z-index: 2;
    }

    .b-mt-espec{
        margin-top: 10px;
    }

    p iframe {
        width: 100%;
        height: auto;
    }

    .note-video-clip{
        width: 100% !important;
        height: auto;
    }

    .b-h1-content{
        font-size: 30px;
    }

    .b-logo-welcome{
        display: none;
    }

    .b-thumbnav{
        width: 70px !important;
        height: 50px !important;
    }

    .b-slider{
        margin-bottom: 50px !important;
    }

    .b-center{
        top: 55%;
    }
    .b-SNews{
        top: 100%;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.3);
    }

    .b-gap{
        gap: 10px;
    }

    .b-icon-button,.b-sm-icon-button {
        width: 30px;
        height: 30px;
        margin: 2.5px;
    }

    .b-share-links,.b-sm-share-links{
        display: inline-flex;
        bottom: 5px;
        left: 2%;
    }
    
    .b-share-links-post-show{
        display: flex;
        flex-direction: initial;
        top: -15px;
        left: 160px;
    }

    .b-mrt{
        margin-top: 40px !important;
    }

    .b-category-center{
        top: 65%;
    }

    .b-body-content{
        padding: 20px 20px 20px 50px;
    }

    .b-card-color{
        margin-top: -25px;
    }

    .b-margin-bt-category{
        margin-bottom: 40px !important;
    } 

    .b-card-img,.b-card-img2{
        height: 280px;
    }
    .b-span-section{
        top: 0px;
        width: 97%;
    }

    .facebook{
        width: 100%;
    }
    .pagination{
        overflow: scroll;
        display: -webkit-box;
    }
    .ath-img {
        max-width: 50px;
      }
    .ath-title {
        font-size: 1rem;
    }
    .ath-p {
        font-size: 0.8rem;
    }
}

